body{
    background-color: rgb(255, 219, 233);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.list {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    line-height: 40px;
}

.background {
    background-color: black;
    color: white;
}